body {
    margin: auto;
    padding: 40px;
    width: 80%;
    color: #000000;
}
a {
    color: #000000
}
div#response {
    margin: 30px 0px;
}
input {
    border: 1px solid black;
}
.red {
    border: 2px solid red;
}
.highlight {
    background-color: #FFFF88;
    font-weight: bold;
}
div#tweets {
    margin-top: 15px;
}