body {
    font-size: 11px;
}
div#response {
    margin: 30px 0px;
}
.red {
    border: 2px solid red;
}
.highlight {
    background-color: #FFFF88;
    font-weight: bold;
}
div#tweets {
    margin-top: 15px;
}